.main_head{
  height:50px;
  width:100%;
  background: $white;
  transition: height 1s linear 0s;
}

.navbar li{
  display:inline-block;
  margin-left:-4px;
}

.navbar a{
  text-decoration:none;
  height:50px;
  width:110px;
  line-height:50px;
  padding:3px;
  color: $black-text;
  font-size:0.7em;
  @include set-font;
}

.navbar a:hover{
  color: $mid-orange;
}

.navmenubtn{
  background: url('../../images/menu-btn.png');
  background-size:contain;
  transition: transform 1s linear 0s;
}

.rotatecss{
  background: url('../../images/menu-btn-change.png');
  background-size:contain;
  transform:rotate(180deg);
  transition: transform 1s linear 0s;
}

.mnubtn{
  height:50px;
  width:12.5%;
  display:none;
}

.achange{
  color:$white !important;
  padding-left:5%;
}
