
//wrapper style
.sub_wrapper{
  min-height:1900px;
  width:100%;
}

.section_one{
  background-color: $white;
  width:100%;
  height:500px;
  @include flex(row);
}

.section_two{
  background-color: $black-tint;
  width:100%;
  height:500px;
  @include flex(row);
}

.section-three{
  width:100%;
  min-height:900px;
  @include flex(column);
}

.section{
  width:100%;
}

/////////////////////////////////////

//Main article styles
.art{
  width:50%;
  height:100%;
  position:relative;
  // float:left;
  color: $white;
}

//Section-one styles

.vinyl-info h1{
  color:$black-text;
  font-size:3em;
  padding-bottom:5%;
}

.vinyl-info p{
  color:$mid-orange;
  font-size:1.5em;
}

.v-info{
  height:40%;
  width:80%;
  margin:auto;
  padding-top:15%;
}

//section-two styles

.st-arttwo img{
  position:absolute;
  height:auto;
  width:70%;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.artone-info{
  width:80%;
  height:70%;
  font-size:1.5em;
  margin:auto;
  margin-top:15%;
  @include set-font('Seravek',bold);
}

.artone-info h2{
  margin-bottom:3%;
  text-transform:uppercase;
}

.artone-info p{
  font-size:0.8em;
}

.con-btn{
  border:none;
  height:50px;
  width:125px;
  border-radius:50px;
  margin-top:4%;
  background:$mid-orange;
  color:$white;
  text-transform:uppercase;
  transition:1s;
}

.con-btn:hover{
  opacity:0.8
}

.arttwo-img{
  height:90%;
  width:90%;
  margin-top:5%;
  margin-left:5%;
}

//3rd article styles

article.home-art{
  min-height:300px;
  background:$white;
  padding:30px;
  h2{
    @include set-font('SeoulNamsan CL',bold,normal);
    font-size:2.5em;
    margin-bottom:5px;
    min-height:50px;
  }
  h3{
    @include set-font('SeoulNamsan CL',bold,normal);
    font-size:2em;
    margin-bottom:5px;
    color:$mid-orange;
    min-height:50px;
  }
  p{
      @include set-font('Seravek',normal);
    font-size:1.5em;
    min-height:200px;
    a{
      text-decoration:none;
    }
    a:hover{
      text-decoration:underline;
    }
  }
}



// Vinyl Record Early Design that was removed //

// vinyl Record
// .vinyl-circle-one{
//   position:absolute;
//   height:20em;
//   width:20em;
//   background:$black-tint;
//   border-radius:50%;
//   overflow:hidden;
//   margin:auto;
//   box-shadow: -2px 1px 4px 3px rgba(0,0,0,0.42);
// }
//
// .vinyl-inner{
//   position:absolute;
//   height:40%;
//   width:40%;
//   background:$mid-orange;
//   border-radius:50%;
//   margin-left:30%;
//   margin-top:30%;
//   z-index:1;
//   box-shadow: 0 0 0 3px $black-text;
// }
//
// .inner-circle{
//   height:8%;
//   width:8%;
//   border-radius:50%;
//   background:$white;
//   margin-left:45%;
//   margin-top:45%;
// }
//
// .vinyl-record{
//   display:block;
//   width:50%;
//   display: flex; // make us of Flexbox
//   align-items: center; // does vertically center the desired content
//   justify-content: center; // horizontally centers single line items
//   text-align: center;
// }
//
// .segment {
//   overflow: hidden;
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 50%;
//   height: 50%;
//   transform-origin: 0% 100%;
//   box-sizing: border-box;
//   border:solid 1px $white;
// }
// .seg {
//   position: absolute;
//   left: -100%;
//   width: 200%;
//   height: 200%;
//   border-radius: 50%;
//   transition:1s ease-in-out;
//   color:$white;
// }
// .segone span{
//    transform-origin: bottom center;
//    position:relative;
// }
//
// .seg h1{
//   transform: rotate(60deg);
//   margin-left:45%;
//   margin-top:27.5%;
//   font-family: SeoulNamsan CL;
//   font-style: normal;
//   font-weight: normal;
//   text-transform:uppercase;
//   font-size:1em;
// }
//
// .segment:nth-child(1) {
//   transform: rotate(-60deg) skewY(30deg) scale(1.2);
// }
// .segment:nth-child(1) .seg {
//   transform: skewY(-30deg); /* unskew slice contents */
// }
// .segment:nth-child(2) {
//   transform: rotate(60deg) skewY(30deg) scale(1.2);
// }
// .segment:nth-child(2) .seg {
//   transform: skewY(-30deg); /* unskew slice contents */
// }
// .segment:nth-child(3) {
//   transform: rotate(180deg) skewY(30deg) scale(1.2);
// }
// .segment:nth-child(3) .seg {
//   transform: skewY(-30deg); /* unskew slice contents */
// }
//
// .segone{
//   background-color: $black-tint;
// }
// .segone:hover{
//   background:$mid-orange;
// }
// .segtwo{
//   background-color: $black-tint;
// }
// .segtwo:hover{
//   background:$mid-orange;
// }
// .segthree{
//   background-color: $black-tint;
// }
//
// .segthree:hover{
//   background:$mid-orange;
// }
