$main-bg: #000004;
$main-text-color: #FBFEF9;
$sub-bg: #A63446;
$shaded-red: #83495A;
$tinted-red: #CD6C88;

$black-text: #2e2f3e;
$white: #fff;
$black-tint: #100e17;
$mid-orange: #A58160;
$dark-grey: #272A2F;
