@import 'base/variables';
@import 'classes';

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  width:75%;
}

.wrapper{
  width:100%;
  height:100vh;
}

.main_head{
  height:50px;
  width:100%;
  background: $black-tint;
}


//nav style
.navbar ul{
  list-style:none;
}

.navbar li{
  display:inline-block;
  margin-left:-4px;
}

.navbar a{
  text-decoration:none;
  height:50px;
  width:110px;
  line-height:50px;
  padding:3px;
  color: $white;
  font-size:0.7em;
}

.navbar a:hover{
  color: $mid-orange;
}

//wrapper style
.sub_wrapper{
  height:114%;
  width:100%;
}

.section_one{
  background-color: $white;
  height:60%;
  width:100%;
}

.section_two{
  background-color: $black-tint;
  height:60%;
  width:100%;
}

//sybwrap style
.section{
  width:100%;
  height:65%;
}

.sec_two_articles{
    height:100%;
    width:100%;
}

.art{
  width:50%;
  height:100%;
  position:relative;
  float:left;
}

.st-arttwo img{
  position:absolute;
  height:auto;
  width:50%;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}



//responsive styles
@media only screen and (max-width: 1200px){
  body{
    width:100%;
  }
}
