@import 'base/variables';
@import 'classes';

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  width:75%;
}

.wrapper{
  width:100%;
  height:100vh;
}

.main_head{
  height:6%;
  width:100%;
  background: $black-tint;
}


//nav style
.navbar ul{
  list-style:none;
}

.navbar li{
  display:inline-block;
  margin-left:-4px;
}

.navbar a{
  text-decoration:none;
  height:6%;
  width:110px;
  line-height:37px;
  padding:3px;
  color: $white;
  font-size:0.7em;
}

.navbar a:hover{
  color: $mid-orange;
}

//wrapper style
.sub_wrapper{
  height:114%;
  width:100%;
}

.section_one{
  background-color: $white;
  height:60%;
  width:100%;
}

.section_two{
  background-color: $black-tint;
  height:60%;
  width:100%;
}

//sybwrap style
.art{
  width:50%;
  height:80%;
}

.st-arttwo img{
  position:relative;
  height:80%;
  width:70%;
  margin-left:20%;
  margin-top:30%;
}



//responsive styles
@media only screen and (max-width: 1200px){
  body{
    width:100%;
  }
}
